# ignore the cloned users
logs/*
students/*

# ignore the cached specs
specs/*.json

# ignore any lists of people
/*students*.txt

# files
.cs251toolkitrc.yaml
.DS_Store
Thumbs.db
__pycache__/
*.swp

!logs/.gitkeep
!specs/.gitkeep
!students/.gitkeep
!projects/.gitkeep
